@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../../public/fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

:root {
    --font-circular-std: 'CircularStd';
}

body {
    font-family: var(--font-circular-std), sans-serif;
}